/.vs/HCI_projekat/DesignTimeBuild
/.vs/HCI_projekat/FileContentIndex
/.vs/HCI_projekat/v17
/.vs/ProjectEvaluation
/HCI_projekat/obj/Debug/net6.0-windows
/HCI_projekat/obj/*.targets
/HCI_projekat/obj
/HCI_projekat/bin/Debug/net6.0-windows
